
body {
  font-family: Arial, sans-serif;
  background-color:wheat;
  padding: 20px;
}


h1 {
  color:black;
  text-align: center;
}


section {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  
}